

/* = 2.layout.css
--------------------------------------------------- */


/* = Container
--------------------------------------------------- */

div#container {
/*	background: transparent url('../images/bg-container.jpg') center 141px no-repeat;*/
}


/* = Columnization
--------------------------------------------------- */

div#body { 
	background: transparent url('../images/bg-body.png') left top repeat-x;
	padding: 10px 0 27px 0;
}
div#body-pad { 
	width: 1020px;
	margin: 0 auto;
}
div#body div#content { 
	width: 750px; 
        margin-top: 10px;
	float: left; 
        border-color: #333;
}
div#body div#content div#content-pad { 
	background: #fff none; 
	width: 750px;
	overflow: hidden;
}
div#body div#sidebar { 
	width: 250px; 
        margin-top: 17px;
	float: right; 
}